<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ELEVATOR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- css 파일 지정-->
</head>
<body>
    <div class="container">
        <div class="main">

            <nav class="innerbar">
                <div id="current_position">
                    <h7 class=white7> 현재위치</h7>
                    <div id="blackboard" class=middle>
                        <div id="bb_dir" class=middle></div>
                        <div id="bb_floor" class = middle></div>
                    </div>
                </div>
                <ul id="inner_button">
                    <li>
                        <button id="btnopen" class=btn onclick="open_door()"></button>
                        <button id="btnclose" class=btn onclick="close_door()"></button>
                    </li>
                    <!--<button id="btn_led" onclick="led_on()">LED ON</button>-->                      <!-- Javascript 함수 지정 -->
                    <li><button id="btn50" class=btn onclick="btn_interrupt(5,0)"></button></li>
                    <li><button id="btn40" class=btn onclick="btn_interrupt(4,0)"></button></li>
                    <li><button id="btn30" class=btn onclick="btn_interrupt(3,0)"></button></li>
                    <li><button id="btn20" class=btn onclick="btn_interrupt(2,0)"></button></li>
                    <li><button id="btn10" class=btn onclick="btn_interrupt(1,0)"></button></li>
                </ul>
            </nav>

            <div id="outer_button">
                <div class="header">
                    <h2>우리 아파트</h2>
                    <h5 id=brand>smart elevator system</h5>
                </div>
                <div>
                    <div><h6>5층</h6></div>
                    <div class=obpanel>
                        <button class="btn down" id="btn52" onclick="btn_interrupt(5,2)"></button>
                    </div>
                </div>
                <div>
                    <div><h6>4층</h6></div>
                    <div class=obpanel>
                        <button class="btn up" id="btn41" onclick="btn_interrupt(4,1)"></button>
                        <button class="btn down" id="btn42" onclick="btn_interrupt(4,2)"></button>
                    </div>
                </div>
                <div>
                    <div class=obpanel><h6>3층</h6></div>
                    <div>
                        <button class="btn up" id="btn31" onclick="btn_interrupt(3,1)"></button>
                        <button class="btn down" id="btn32" onclick="btn_interrupt(3,2)"></button>
                    </div>
                </div>
                <div>
                    <div><h6>2층</h6></div>
                    <div class=obpanel>
                        <button class="btn up" id="btn21" onclick="btn_interrupt(2,1)"></button>
                        <button class="btn down" id="btn22" onclick="btn_interrupt(2,2)"></button>
                    </div>
                </div>
                <div>
                    <div><h6>1층</h6></div>
                    <div class=obpanel>
                        <button class="btn up" id="btn11" onclick="btn_interrupt(1,1)"></button>
                    </div>
                </div>
            </div>
            <div id="result">
            </div>
        </div>
    </div>
    <script>
        var c_floor, c_move, isopen
        function btn_interrupt(floor, move){
            fetch("/btn?floor=" + floor + "&move=" + move)                                                    /* 해당 경로 파일을 실행 */
            .then(response=> response.text())
            .then(data=> {
                console.log(data);
                let result = document.querySelector("#result");  
                const btnElv = document.getElementById('btn' + floor + move); 
                //result.innerHTML = "<h1>반환 : " + data+"</h1>";  
                if(data=="True"){ 
                    if(move==1) {                              
                        btnElv.style.backgroundImage = "url('static/images/upbtnp.png')";
                    }else if(move==2){
                        btnElv.style.backgroundImage = "url('static/images/downbtnp.png')";
                    } else {
                        btnElv.style.backgroundImage = "url('static/images/innerbtn"+ floor +"p.png')";
                    }
                }else{
                    if(move==1) {                              
                        btnElv.style.backgroundImage = "url('static/images/upbtn.png')";
                    }else if(move==2){
                        btnElv.style.backgroundImage = "url('static/images/downbtn.png')";
                    } else {
                        btnElv.style.backgroundImage = "url('static/images/innerbtn"+ floor +".png')";
                    }
                }
            });
        }

        function open_door() {
            fetch("/open")
            .then(response => response.text())
            .then(data=> {
                console.log(data);
                const btnElv = document.getElementById('btnopen'); 
                if(data=="True") btnElv.style.backgroundImage = "url('static/images/innerbtnopenp.png')";
                else btnElv.style.backgroundImage = "url('static/images/innerbtnopen.png')";
            });
        }

        function close_door() {
            fetch("/close")
            .then(response => response.text())
            .then(data=> {
                console.log(data);
                const btnElv = document.getElementById('btnopen'); 
                btnElv.style.backgroundImage = "url('static/images/innerbtnopen.png')";
            });
        }

        function printStatus() {
            fetch("/send_status")
            .then(response => response.text())
            .then(data=> {
                console.log(data);
                c_floor=data[0];
                c_move=data[1];               
                for(var i=2;i<data.length;i+=2) {
                    const btnElv = document.getElementById('btn' + data[i] + data[i+1]); 
                    if(data[i+1]==1) {                              
                        btnElv.style.backgroundImage = "url('static/images/upbtn.png')";
                    }else if(data[i+1]==2){
                        btnElv.style.backgroundImage = "url('static/images/downbtn.png')";
                    } else {
                        btnElv.style.backgroundImage = "url('static/images/innerbtn"+ data[i] +".png')";
                    }
                }
                const bbdres = document.getElementById('bb_dir');
                const bbfres = document.getElementById('bb_floor');
                //bbdres.innerHTML = "현재 층수 : " + c_floor + ", 현재 방향 ; "+ c_move;

                if (c_move=="1") {
                    bbdres.innerHTML = "<h1>△</h1>";
                } else if(c_move=="2") {
                    bbdres.innerHTML = "<h1>▽</h1>";
                } else {
                    bbdres.innerHTML = "<h1></h1>";
                }
                bbfres.innerHTML = "<h1>"+c_floor+"</h1>";
            });
        }
        // 1초마다 한 번씩 서버로부터 현재 층과 방향 데이터 요청
        window.onload = function() {
            setInterval(function () {printStatus();}, 1000);
        }
    </script>
</body>
</html>